<!DOCTYPE html>
<html>
	<head>
        <meta charset ="UTF-8">
        <title>Chin Tiki</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        </style>   
    </head>
	<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand">Welcome to the MEAN world, {{ username }}</a>
                </div>
            </div>
        </div>
        <img href = "f.JPG">
	</body>
</html>
